
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF url("https://img.itch.zone/aW1nLzExMzk2MTExLmdpZg==/original/HPah7q.gif") no-repeat;
  background-size: 1400px 700px;
  font-family: sans-serif;
 
}
  
  main {
    display: flex;
    flex-direction: column;

  }
  
  h1 {
    text-align: center;
    color: white;
  }
  

  
  .jogodavelhadopablo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid white;
    background-image: linear-gradient(to right, rgb(0, 132, 255) , rgb(199, 242, 245));
    border-radius: 10px;
  }
  
  .jogodavelhadopablo button {
    width: 100px;
    height: 100px;
    margin: 5px;
   border-radius: 10px;
    font-size: 30px;
    background-color: lightblue;
    opacity: 0.6;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    border: solid white;
}




